.present {
  &-section {
    padding-top: 19rem;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: #fff;
  }

  &-container {
    display: flex;
  }

  &-controls {
    width: 100%;
    max-width: 71rem;

    & > *:not(:last-child) {
      margin-bottom: 3rem;
    }
  }

  &-subtitle {
    font-family: "Risque", serif;
    font-size: 3.8rem;
    font-weight: 400;
    line-height: 4rem;

  }

  &-title {
    font-family: "Risque", serif;
    font-size: 5.6rem;
    font-weight: 400;
    line-height: 6rem;
  }

  &-item {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;

    width: 15rem;
    height: 15rem;
    border: 5px solid #fff;
    background-color: #fff;
    border-radius: 50%;
    &:hover {
      background-color: rgba(255,255,255,0.5);
    }
    &.active {
      background-color: rgba(255,255,255,0);
    }
  }

  &-list {
    display: flex;

    & > *:not(:last-child) {
      margin-right: 4rem;
    }
  }

  &-content {
    width: 55rem;
    flex-grow: 0;
    flex-shrink: 0;
    margin-left: 2rem;
    padding: 3.5rem;
    border: 3px solid #fff;
    border-radius: 2rem;
    &__item {
      display: none;
      &.active {
        display: block;
      }
    }
  }
}
